html{
    zoom: 0.666666667; /* not a standard CSS property */
}

body{
    border: $pageBorder solid #fff;
    width: $pageWidth;
    height: $pageHeight;
    margin: 0 auto;
    background-color: rgb(200, 200, 200);
    font-family: "raleway";
    font-weight: 400;
    font-size: 14px;
    box-sizing: content-box;
}

a{
    color: $greyLight;    
    text-decoration: none;
}

*{
    box-sizing: border-box;
    position: relative;
}