html{
    zoom: 0.666666667; /* not a standard CSS property */
}

body{
    width: $maxWidth;
    height: $maxHeight;
    margin: 0 auto;
    background-color: rgb(200, 200, 200);
    font-family: "raleway";
    font-weight: 400;
    font-size: 14px;

    /* removes the vertical line artifact between left and right page columns in pdf */
    &::before{
        content: '';
        position: absolute;
        display: block;
        width: calc($maxWidth - 4px);
        height: $maxHeight;
        background-color: #fff;
    }
}

a{
    color: $greyLight;    
    text-decoration: none;
}

*{
    box-sizing: border-box;
    position: relative;
}