.contact{
    font-weight: 600;

    &__title{
        margin-top: 0.8333rem;
        margin-bottom: 0.125rem;
        color: rgba($greyLight, .8);
        font-weight: 500;
    }

    &__data{
        line-height: 0.75rem;
    }
}