.interests{
    ul{
        padding: 0 0.3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    li{
        align-self: flex-end;
        list-style: none;
        text-align: center;
    }

    &__title{
        display: block;
        font-weight: 600;
        font-size: 0.5rem;
    }

    &__icon{
        display: inline-block;
        margin-bottom: 0.208333rem;
    }
}