.language{
    margin: 0.20833rem 0;

    &__label{
        font-weight: 600;
        text-transform: uppercase;
    }

    &__level{
        margin-left: 0.125rem;
        font-style: italic;
        font-weight: 500;
        color: rgba($greyLight, .8);
    }
}