.page{
    background-color: #fff;
    
    &__left{
        height: $pageHeight;
        width: 35%;
        padding: 75px 40px 40px 40px;
        overflow: hidden;
        color: $greyLight;

        &--dark{
            background-color: $greyDark;
        }
    }

    &__right{
        height: $pageHeight;
        width: 65%;
        padding: 75px 40px 40px 40px;
        overflow: hidden;
        color: $greyVeryDark;

        a{
            color: $greyVeryDark;
        }
    }
}