.print-version{
    .page{
        &__left{
            color: $greyVeryDark;
            a{
                color: $greyVeryDark;
            }

            &--dark{
                background-color: rgba($greyLight, .3);
            }
        }
    }

    .photo{
        border: 1px solid rgba($greyVeryDark, .5);

        &__image{
            background-image: url("../images/profile-photo-light.jpg");
        }
    }

    .feature{
        &__title{
            &--light-b-border{
                border-bottom: 1px solid rgba($greyVeryDark, .3);
            }
        }
    }

    .contact{
        font-weight: 500;

        &__title{
            color: rgba($greyVeryDark, .8);
            font-weight: 400;
        }
    }

    .login{
        color: rgba($greyVeryDark, .7);
    }

    .skills{
        &__item-bar{
            background-color: rgba($greyLight, .4);
            box-shadow: inset 0 2px 2px rgba(#000, 0.11);
        }
    }

    .language{
        &__label{
            font-weight: 600;
        }

        &__level{
            color: rgba($greyVeryDark, .8);
            font-weight: 400;
        }
    }
}
